/* topbar */
.topbar {
    background: #a20b0b;
    padding: 10px 40px;
}

.list ul li {
    list-style: none;
    display: inline;
    margin-right: 24px;
    color: #fff;
}

.list ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-family-Barlow);
}

.list ul li span {
    margin-right: 6px;
}

.top-right.list {
    text-align: right;
}

.logo-tagline {
    text-align: center;
}

a.mobile-logo {
    display: none;
}

/* ---search------ */

.search-container {
    align-items: center;
    display: flex;
    position: relative;
    justify-content: flex-end;
    /* margin-top: 30px; */
}

.search-input {
    width: 0;
    /* Initially hidden */
    padding: 0;
    border: none;
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
    opacity: 0;
}

.search-container:hover .search-input {
    opacity: 1;
    border: 1px solid #c8e1ff;
    width: 200px;
    height: 44px;
    padding: 8px 10px;
    border-right: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.search-icon {
    cursor: pointer;
    color: #333;
    background: none;
    border: none;
    font-size: 1.2em;
    background-color: #c8e1ff;
    padding: 8px 18px;
    border-radius: 4px;
}




/* navigation */

nav {
    background-color: #09143f;
    padding: 16px 0;
    border-bottom: 2px solid #ffb515;
}

nav ul {
    padding-left: 20px;
}

nav ul li {
    display: inline-block;
    margin-right: 40px;
}

nav ul li a {
    color: #fff;
    font-family: var(--font-family-Barlow);
    font-weight: 500;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ffb515 !important;
}

ul.dropdown-menu {
    padding-left: 10px;
}

ul.dropdown-menu li {
    width: 100%;
    line-height: 37px;
    border-bottom: 1px solid #ccc;
}

ul.dropdown-menu li:last-child {
    border-bottom: none;
}

.dropdown-menu.show {
    display: block;
    transform: translate(0px, 43px) !important;
}

ul.dropdown-menu li a {
    color: #09143f;
    font-size: 16px !important;
    font-weight: 400;
}

.dropdown-menu.show {
    display: block;
    min-width: 420px;
}

/* notification */

.bg-light-gray {
    background-color: #e6e6e6;
    margin-top: 20px;
    display: flex;
    align-items: center;

    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}

.tagline {
    background-color: #a20b0b;
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding: 8px 0;
}

.list-news {
    margin-top: 15px;
}

.list-news a {
    margin-right: 70px;
    color: #09143f;
}




/* about-block */
.profile {
    border: 1px solid #e1e2dc;
    padding: 5px;
    border-radius: 4px;
    margin-right: 22px;
}

.message-block h3 {
    position: relative;
    font-weight: 700;
}

.message-block h3:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #a20b0b;
    bottom: -7px;
}

.profile-info {
    display: flex;
    padding-right: 20px;
    align-items: start;
}

.about-content {
    padding-left: 20px;
}

.profile-details a {
    font-weight: 700;
}

.profile-details h4 {
    color: #060606 !important;
    font-weight: 700;
}


.mission-vission h4 {
    color: #a80000 !important;
}

.mission-vission {
    margin-top: 30px;
}

.border-right {
    border-right: 2px dashed #b70f0e;
}

/* take a tour */
.video-block h2 {
    color: #a80000 !important;
    font-size: 36px;
}

.gradient-btn {
    background: linear-gradient(139deg, #a11111 0%, #A80000 100%);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.gradient-btn:hover {
    background: #b70f0e;
    color: #fff !important;
}

.red-btn {
    background: #a80000 !important;
}

.red-btn:hover {
    background: linear-gradient(139deg, #132266 0%, #051239 100%) !important;
}

.btn-list ul {
    padding-left: 0;
}

.btn-list ul li a {
    display: block;
    text-align: center;
    font-size:16px;
    text-transform: uppercase;
}

.btn-list ul li {
    margin-bottom: 8px;
}

.admission-update {
    padding: 20px 30px;
    text-align: center;
    background-color: #b70f0e;
    color: #fff;
}

.bg-gray {
    background-color: #e6e6e6;
}

.notification-block {
    background-color: #fff;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #cccccc73;
}

.notification-block h4 {
    background-color: #a80000;
    color: #fff !important;
    font-weight: 500 !important;
    padding: 8px 11px;
    font-size: 22px;

}

.notification-block ul li {
    list-style: square;
    margin-bottom: 14px;
}

.notification-block ul li a {
    color: #3c3b3b;
    font-weight: 500;
    font-family: var(--font-family-Poppins);
}

.notification-block h4 span {
    display: inline-block;
    margin-right: 10px;
}

table.table tr td {
    padding: 10px;
    font-family: "Barlow", sans-serif;
}

/* coures-block */

.main-title h2 span {
    font-size: 30px;
}

.course-box {
    border: 1px solid #ebe9fe;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    min-height: 400px;
}

.course-box h5 {
    color: #2c2b2b !important;
}

.course-box p {
    color: #575757 !important;
}

.course-icon {
    background-color: #fff;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    box-shadow: 0 2px 9px #cccccc7d;
}

/* latest-news */
.latest-news-link .btn-list ul li a {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    padding: 16px 0;
}

.latest-notice h5:before {
    content: "";
    background-color: #a20b0b;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.latest-notice h5 {
    text-align: center;
    position: relative;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 12px;
    font-weight: 500 !important;
}

/* counter-block */
section.counter-block {
    background: url(/bg-counter.jpg) no-repeat center;
    background-size: cover;
    padding: 130px 0px;
}

.counter-box {
    text-align: center;
}

.counter-box strong {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
}

.counter-box h4 {
    font-size: 28px;
    position: relative;
    color: #fff !important;
    margin-top: 10px;
    padding-top: 19px;
}

.counter-box h4:before {
    content: "";
    background-color: #a20b0b;
    width: 160px;
    height: 2px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

section.counter-block {
    background-color: #000;
}


/* footer */

footer {
    background: url(/footer-bg.jpg) no-repeat center;
    background-size: cover;
}

.socail-link a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    font-size: 21px;
    padding: 17px;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.socail-link a:hover {
    background-color: #a20b0b;
    color: #fff !important;
}

.socail-link {
    text-align: center;
    margin-top: 25px;
}

.footer-col h4 {
    color: #fff !important;
    position: relative;
    font-weight: 500 !important;
    margin-bottom: 30px;
}

.footer-col h4:before {
    content: "";
    text-align: center;
    background-color: #a20b0b;
    width: 74px;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
}

.footer-col ul {
    padding-left: 0;

}

.footer-col ul li a {
    line-height: 38px;
}

.footer-col ul li a {
    color: #fff;
    font-size: 15px;
    font-family: var(--font-family-Poppins);
}

.footer-col ul li a:hover {
    color: #e13939 !important;
}

.footer-col p {
    color: #fff !important;
    font-weight: 500;
}

.copyright {
    background-color: #04214f;
    text-align: center;
    padding: 16px 0px;
    margin-top: 65px;
}

.copyright p {
    color: #6f7caf !important;
    margin-bottom: 0;
}

/* inner page */

.pages-title h2 {
    color: #fff !important;
}

.pages-title {
    background-color: #243d65;
    text-align: center;
    padding: 22px 0px;
    color: #fff !important;
}

.prof {
    background-color: #a20b0b;
    padding: 10px;
}

.prof h5 {
    color: #fff !important;
    margin-bottom: 0;
}

.aboutpict {
    border: 1px solid #a20b0b6b;
    padding: 4px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 13px #b50a0a2e; */
}

.about-bg {
    background: url(/about-bg.png) top / cover no-repeat;
    padding: 20px;
    box-shadow: 0px 0px 12px #cccccc6b;
    border-radius: 10pxxx;
}

.about-bg.bg-remove {
    background: none;
}

.contact-panel h2 {
    color: #060606 !important;
    font-weight: 700 !important;
}

.contact-panel h2 span {
    font-size: 18px;
    font-weight: 400;
}

.contact-panel img {
    padding: 5px;
    border: 4px solid #1a3c807a;
}


ul.peronal-detail {
    padding-left: 0px;
}

ul.peronal-detail li {
    font-size: 16px;
    line-height: 28px;
}

ul.peronal-detail li a {
    color: #a80000;
    margin-left: 4px;
}

ul.peronal-detail li strong {
    color: #202020;
}

.breadcrumb-item.active {
    color: rgb(255 181 21);
}

ul.breadcrumb {
    margin: 0 auto;
    /* width: 50%; */
    text-align: center;
    display: flex;
    justify-content: center;
}

.breadcrumb-item a {
    color: #fff !important;
}

.breadcrumb-item.active {
    color: rgb(255 181 21) !important;
}

.faculty h2 {
    position: relative;
}

.faculty h2:before {
    content: "";
    background-color: #a20b0b;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.card-list span {
    float: right;
}

.card-body.card-list p {
    color: #09143f !important;
    font-weight: 500;
}

.card-body.card-list {
    border: 1px solid #21316c;
    border-radius: 4px;
}

.card-body.card-list:hover {
    background-color: #21316c;
    color: #fff;
}

.card-body.card-list:hover a p {
    color: #fff !important;
}

.info-text {
    display: flex;
    align-items: center;
}

.info-text p {
    font-size: 14px;
    line-height: 23px;
}

.info-text a {
    color: #646464;
}

.card-info:hover {
    background-color: #9F3333;
}

.card-info:hover h5,
.card-info:hover p {
    color: #fff !important;
}

.card-info:hover a {
    color: #fff !important;
}


/* inner-page-header */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

.logo h4 {
    font-weight: 700;
}

.logo h4 span {
    display: block;
}

.nav-inner ul li {
    display: inline-block;
    margin-right: 20px;
    padding-left: 9px;
}

.nav-inner ul li a {
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.nav-inner {
    text-align: right;
    padding-top: 22px;
}

.inner-logo a.desktop-logo {
    width: 90px;
    margin-right: 15px;
}

.logo h4 span {
    display: block;
    font-size: 20px;
    font-weight: 400;
}


.content-panel h4 {
    font-weight: 700;
    color: #000 !important;
}

.content-panel h4 span {
    font-weight: 400;
    font-size: 16px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}


.link-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 40px;
    /* border-top: 5px solid #8B0000; */
}

.link-btn {
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    background: linear-gradient(135deg, #0A1440, #8B0000);
    color: #fff !important;
    font-weight: 500;
    transition: all 0.3s ease;
    border: none;
}

.link-btn:hover {
    background: linear-gradient(135deg, #8B0000, #0A1440);
    color: #fff !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

table thead {
    background-color: #f5f5f5 !important;
    border-bottom: 1px solid #d6d6d6;
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
}

.table-responsive {
    border: 1px solid #d6d6d6;
}

table thead th {
    background-color: #f5f5f5 !important;
    padding: 12px !important;
    font-size: 20px;
    font-weight: 400;
    color: #1c1c1c !important;
    font-family: 'Paralucent', sans-serif !important;
}

span.file-icon {
    display: inline-block;
    font-size: 28px;
    color: #2a2a2a;
}

.banner-content p {
    color: #fff !important;
    font-size: 21px;
    padding: 0 160px;
    line-height: 34px;
}

/* admission-page */
section.banner {
    height: 400px;
    background-color: #f2f4ff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

section.banner:before {
    content: "";
    background: linear-gradient(to left, rgba(9, 0, 51, 0), rgb(8, 1, 77));

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.banner-bg {
    background: url(/slide-3.jpg);
}


.banner-content {
    position: relative;
    z-index: 2;
}

.banner-content h2 {
    color: #fff !important;
    font-size: 50px !important;
    font-weight: 700 !important;
}

.banner-content p {
    color: #fff !important;
}


.accreditation-section {

    padding: 30px 0;
}

.accreditation-item {
    border: 1px solid #ccc;
    background-color: #fff;
    margin-right: -10px;
    text-align: center;
    padding: 20px 0px;
}

.accreditation-item img {
    margin-bottom: 10px;
    width: 200px;
}

.accreditation-item h6 {
    color: #0d2244;
    font-size: 18px;
    font-weight: 600;
}

.divider {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 70px;
    margin: auto;
}



.course-card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.course-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.course-card img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.course-card.active {
    background-color: #8b1c2d;
    /* maroon-like tone */
    color: #fff;
}

.course-card.active h5,
.course-card.active p {
    color: #fff;
}

.course-card h5 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.course-card p {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}

.icon {
    font-size: 1.3rem;
    color: #8b1c2d;
}

.course-card.active .icon {
    color: #fff;
}


.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ffffff !important;
    background-color: #a20b0b !important;
    border-color: var(--bs-nav-tabs-link-active-border-color) !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active h6 {
    color: #fff !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active p {
    color: #fff !important;
}

.programme-card-body h6 {
    font-size: 14px;
    margin-bottom: 0;
}

.nav-tabs li {
    padding-right: 10px;
}

.programme-card-body p {
    font-size: 12px;
    margin-bottom: 0;
}

.nav-tabs .nav-link {
    background: #F3F4F6;
    margin-right: 14px;
    color: #21316c;
    font-weight: 600;
    border-radius: var(--bs-nav-tabs-border-radius);
    margin-bottom: 10px;
}

span.coures-icon {
    color: #fff;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 18px;
    padding: 10px 13px;
    font-size: 28px;
    display: inline-block;
    margin-right: 13px;
}

span.coures-pict {
    width: 115px;
    margin-right: 10px;
}

.programme-card {
    border-radius: 10px;
    display: flex;
    align-items: self-start;
}

.nav-tabs .nav-link {
    width: 100%;
    display: block;
}

.nav-tabs {
    border: none !important;
    margin-bottom: 20px;
}

.clubs-section {
    padding: 60px 0;
}

.clubs-title {
    text-align: center;
    font-weight: 700;
    color: #0d2244;
    margin-bottom: 50px;
    font-size: 32px;
    position: relative;
}

.clubs-title::after {
    content: '';
    width: 160px;
    height: 3px;
    background: #a20b0b;
    display: block;
    margin: 10px auto 0;
    border-radius: 3px;
}

.club-card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border: none;

}

.club-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
}

.club-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.club-body {
    padding: 25px;
}

.club-body h5 {
    font-weight: 700;
    color: #000;
    margin-bottom: 8px;
}

.underline {
    width: 150px;
    height: 2px;
    background-color: #a20b0b;
    margin-bottom: 15px;
}

.club-body p {
    font-size: 15px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 0;
}

.teqip-title {
    font-weight: 800;
    color: #000;
    font-size: 28px;
    line-height: 1.4;
    text-transform: uppercase;
}

.teqip-content p {
    text-align: justify;
    color: #333;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.facilities-list {
    background-color: #58595b;
    padding: 20px;
    border-radius: 50px;
    margin-right: -20px;
}

section.facilities-section {
    background-color: #F3F4F6;
    padding: 30px 0px;
}

.facilities-list h2 {
    color: #fff !important;
    padding-left: 13px;
}

.facilities-list ul li {
    color: #fff !important;
    list-style: square;
}

.facilities-list ul {
    padding-left: 30px;
}

.recruiters-section {
    padding: 60px 0;
    text-align: center;
}

.recruiters-title {
    font-weight: 700;
    color: #000;
    margin-bottom: 40px;
    font-size: 28px;
    text-transform: uppercase;
}

.underline {
    border-radius: 2px;
}

.recruiter-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recruiter-card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.recruiter-card img {
    max-width: 100%;
    max-height: 70px;
    object-fit: contain;
}



.placement-section {
    padding: 70px 0;
    position: relative;
    overflow: hidden;
}

.placement-title {
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}


.placement-card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px rgba(118, 255, 3, 0.1);
    backdrop-filter: blur(6px);
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 25px rgb(33 49 108 / 10%);
}



.placement-card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 0 25px rgb(33 49 108 / 10%);
}

.student-name {
    color: #76ff03;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}

.student-details {
    color: #ddd;
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    position: relative;
    z-index: 2;
}

.nav-inner ul {
    padding-left: 0;
}

.placement-header {
    padding: 0px 40px;
}

.placement-block {
    text-align: center;
    padding: 50px 0px;
}

section.placement-block ul.nav.nav-pills {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.table-block {
    max-height: 810px;
    overflow-y: scroll;
}

section.placement-block .nav-pills .nav-link {
    padding: 10px 36px;
    border-radius: 100px;
}

section.placement-block .nav-pills li a {
    background: #ffffff;
    box-shadow: 0px 0px 7px #ccc;
    margin-right: 10px;
    color: #000;
}

.year-wise-graph h2 {
    position: relative;
    text-align: center;
}

.recruiters-section h2 {
    position: relative;
}

.year-wise-graph h2:before,
.recruiters-section h2:before {
    content: "";
    background-color: #a20b0b;
    width: 160px;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
}

.contact-details ul {
    padding-left: 0;
}

.contact-details ul li {
    margin-bottom: 8px;
}

.contact-details .socail-link {

    text-align: left;

}

.contact-details .socail-link a {

    color: #8e0000;

}


.process-wrapper {
    gap: 20px;
}

.process-step {
    width: 170px;
}

.process-icon {
    font-size: 45px;
    color: #000;
}

.step-number {
    background: #f7f7f7;
    border-radius: 50%;
    padding: 8px 15px;
    font-weight: bold;
    position: absolute;
    top: 8px;
    left: 11px;
    margin: 0 auto;
}



.process-step {
    border: 1px solid #ccc;
    padding: 20px 0px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

.iic-notification {
    min-height: 550px;
}

.payment-guideline {
    margin-top: 20px;
}

.payment-guideline ul li {
    font-size: 16px;
    line-height: 30px;
    list-style: square;
    color: #726f6f;
}

.banner-content h3 {
    color: #fff !important;
}

.content-panel ul {
    padding-left: 20px;
}

.content-panel ul li {
    list-style: disc;
    line-height: 28px;
    font-size: 16px !important;
    color: #1b1a1a !important;
    font-family: var(--font-family-Poppins);
    margin-bottom: 11px;
}
.content-panel ul li:last-child {
    list-style: none !important;
}

.date {
    background-color: #a20b0bad;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    font-size: 22px;
    border-radius: 100px;
    font-weight: 700;
}

.call-papers .content-panel {
    min-height: 330px;
}

.network-bg {
    background: url(/5G-network.jpg);
    height: 80vh !important;
}

.springer-logo {
    text-align: right;
}

/* responsive-start */


@media only screen and (max-width:1366px) {
    nav ul li {
        margin-right: 32px;
    }

    a.desktop-logo {
        width: 620px !important;
        display: block;
    }


}

@media only screen and (max-width: 1024px) {
    .topbar {
        padding: 10px 20px;
    }

    .list ul li a {
        font-size: 14px;
    }

    .list ul li {
        margin-right: 13px;
    }


}


@media only screen and (max-width:767px) {
    .logo {
        text-align: center;
    }

    .search-input {
        width: 100%;
    }

    .search-container:hover .search-input {
        width: 100%;
    }

    .search-icon {
        padding: 12px 22px;
    }

    .top-left.list {
        text-align: center;
        margin-bottom: 14px;
    }

    .top-right.list ul {
        padding-left: 0;
    }

    .top-right.list ul li a {
        padding-left: 0;
        font-size: 13px;
    }

    .top-left.list ul {
        padding-left: 0;
    }

    .search-input {
        opacity: 1;
        border: 1px solid #c8e1ff;
        width: 100%;
        height: 50px;
        padding: 8px 10px;
        background-color: #fff !important;
    }

    .bg-light-gray {
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;

    }

    .tagline {
        font-size: 18px;
        font-weight: 600;
    }

    .desktop-logo {
        display: none !important;
    }

    a.mobile-logo {
        display: block;
    }

    nav {
        position: fixed;
        left: 0;
        width: 75%;
        z-index: 999;
        top: 0;
        height: 100vh;
    }

    nav ul {
        padding-left: 0px;
    }

    nav ul li {
        margin-right: 0;
        line-height: 50px;
        display: block;
        border-bottom: 1px solid #1c2b62;
        padding: 0 20px;
    }

    .dropdown-menu.show {
        display: block;
        position: inherit !important;
        left: 0;
        transform: translate3d(-5px, 5px, 0px) !important;
    }

    .dropdown-menu.show {
        /* min-width: 310px; */
        display: block;
        max-width: 100% !important;
        min-width: 100%;
        margin-bottom: 20px !important;
    }

    ul.dropdown-menu li {
        width: 100%;
        line-height: 32px;
        border: none;
    }

    nav .container {
        padding: 0 !important;
    }

    .main-header {
        position: relative;
    }

    span.toggle-menu {
        color: #ffd;
        background-color: #a20b0b;
        border-radius: 6px;
        padding: 4px 12px;
        font-size: 28px;
        position: absolute;
        bottom: 20px;
        right: 11px;
    }

    .search-container {
        margin-right: 17% !important;
        margin-bottom: 18px;
    }

    .main-menu {
        display: none;
    }

    .about-content {
        padding-left: 0px;
        padding-top: 36px;
    }

    .video-block {
        padding: 0px 20px 30px 20px;
    }

    .btn-list ul {
        padding-left: 0;
        margin-bottom: 30px !important;
    }

    .course-box {
        min-height: auto;
        margin-bottom: 20px;
    }

    .helpline-number {
        margin-top: 30px;
    }

    section.counter-block {
        padding: 50px 0;
    }

    .counter-box {
        margin-bottom: 60px;
    }

    .footer-col {
        margin-bottom: 50px;
    }

    .profile-info {
        display: flex;
        flex-wrap: wrap;
    }

    .border-right {
        border-right: none;
    }

    .profile {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .main-title h2 {
        font-size: 33px !important;
    }

    .teqip-title {
        font-size: 22px !important;
        text-align: left;
    }

    section.banner {
        height: auto;

    }

    .banner-content h2 {
        font-size: 34px !important;
    }

    .banner-content p {
        color: #fff !important;
        font-size: 17px;
        line-height: 28px;
        padding: 0 10px;
    }

    .banner-content {
        padding: 50px 0px;
    }

    .accreditation-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .aboutpict {
        margin-bottom: 20px;
    }

    h2.section-title {
        font-size: 30px !important;
    }

}