
/* topbar */
.topbar {
    background: #a20b0b;
     padding: 10px 40px;
}

.list ul li {
    list-style: none;
    display: inline;
    margin-right: 24px; 
    color: #fff;
}
.list ul li a {
    color: #fff;
    font-size: 16px;
      font-weight: 500;
     font-family: var(--font-family-Barlow);
}
.list ul li span{
    margin-right: 6px;
}
.top-right.list {
    text-align: right;
}
.logo-tagline {
    text-align: center;
}
a.mobile-logo{
    display: none;
}
/* ---search------ */

.search-container {
    align-items: center;
    display: flex;
    position: relative;
    justify-content: flex-end;
    /* margin-top: 30px; */
}

.search-input {
  width: 0; /* Initially hidden */
  padding: 0;
  border: none;
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
  opacity: 0;
}

.search-container:hover .search-input {
  width: 200px; /* Expand on hover */
  padding: 8px 10px;
  border: 1px solid #c8e1ff;
  opacity: 1;
      height: 50px;
}
.search-icon {
    cursor: pointer;
    color: #333;
    background: none;
    border: none;
    font-size: 1.2em;
    background-color: #c8e1ff;
    padding: 15px 23px;
    border-radius: 4px;
}

/* navigation */

nav {
    background-color: #09143f;
    padding: 16px 0;
    border-bottom: 2px solid #ffb515;
}
nav ul{
    padding-left: 20px;   
}
nav ul li{
    display: inline-block;
    margin-right:40px;
}
nav ul li a{
    color: #fff;
    font-family: var(--font-family-Barlow);
    font-weight: 500;
    font-size: 18px;
}
nav ul li a:hover{
    color: #ffb515 !important;
}
ul.dropdown-menu{
    padding-left: 10px;
}
ul.dropdown-menu li{
    width: 100%;
    line-height:40px;
}
.dropdown-menu.show {
    display: block;
    transform: translate(0px, 43px) !important;
}
ul.dropdown-menu li a {
    color: #09143f;
    font-size: 16px;
}

.dropdown-menu.show {
    display: block;
    min-width:310px;
}

/* notification */

.bg-light-gray {
    background-color: #e6e6e6;
    margin-top: 20px;
    display: flex;
    align-items: center;   
  
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}
.tagline {
    background-color: #a20b0b;
    color: #fff;
    font-size: 25px;
    text-align: center;
    padding: 8px 0;
}
.list-news {
    margin-top: 15px;
}
.list-news a {
    margin-right: 70px;
    color: #09143f;
}




/* about-block */
.profile {
    border: 1px solid #e1e2dc;
    padding: 5px;
    border-radius: 4px;
     margin-right: 22px;
}
.message-block h3 {
    position: relative;
        font-weight: 700;
}
.message-block h3:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #a20b0b;
    bottom: -7px;
}
.profile-info {
    display: flex;
     padding-right: 20px;
}
.about-content {
    padding-left: 20px;
}
.profile-details a {
    font-weight: 700;
}

.profile-details h4 {
    color: #060606 !important;
    font-weight: 700;
}


.mission-vission h4{
color:#a80000 !important;
}
.mission-vission {
    margin-top: 30px;
}

.border-right{border-right: 2px dashed #b70f0e;
}

/* take a tour */
.video-block h2 {
    color: #a80000 !important;
    font-size: 36px;
}
.gradient-btn {
  background:linear-gradient(
139deg, #132266 0%, #051239 100%);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gradient-btn:hover {
  background: #b70f0e;
  color:#fff !important;
}

.red-btn{
    background:#a80000 !important;
}
.red-btn:hover{
background:linear-gradient(
139deg, #132266 0%, #051239 100%) !important;
}
.btn-list ul {
    padding-left: 0;
}
.btn-list ul li a {
    display: block;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
.btn-list ul li {
    margin-bottom: 8px;
}

.admission-update{
    padding: 20px 30px;
    text-align:center;
    background-color:#b70f0e;
    color:#fff;
}
.bg-gray{
    background-color:#e6e6e6;
}
.notification-block {
    background-color: #fff;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #cccccc73;
}
.notification-block h4 {
    background-color: #091642;
    color: #fff !important;
    font-weight: 500 !important;
    padding: 8px 11px;
        font-size: 22px;

}
.notification-block ul li {
    list-style: square;
    margin-bottom: 14px;
}
.notification-block ul li a{   
    color:#3c3b3b;
        font-weight: 500;
        font-family:var(--font-family-Poppins);
}
.notification-block h4 span {
    display: inline-block;
    margin-right: 10px;
}
table.table tr td {
    padding: 10px;
}
/* coures-block */

.main-title h2 span {
    font-size: 30px;
}
.course-box {
    border: 1px solid #ebe9fe;
    padding: 20px;
    text-align: center;
    border-radius:4px;
        min-height: 400px;
}
.course-box h5 {
    color: #2c2b2b !important;
}
.course-box p {
    color: #575757 !important;
}

.course-icon {
    background-color: #fff;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    box-shadow: 0 2px 9px #cccccc7d;
}

/* latest-news */
.latest-news-link .btn-list ul li a {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    padding: 16px 0;
}

.latest-notice h5:before{
        content: "";
    background-color: #a20b0b;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left:0;
    right:0;
    margin:0 auto;
    text-align:center;
}
.latest-notice h5 {
    text-align: center;
    position: relative;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 12px;
    font-weight:500 !important;
}

/* counter-block */
section.counter-block {
    background: url(/bg-counter.jpg) no-repeat center;
    background-size: cover;
    padding: 130px 0px;
}
.counter-box{
    text-align:center;
}
.counter-box strong{
    font-size:50px;
    font-weight:900;
    color:#fff;
}
.counter-box h4 {
    font-size: 28px;
    position: relative;
    color: #fff !important;
    margin-top: 10px;
    padding-top: 19px;
}
.counter-box h4:before{
        content: "";
    background-color: #a20b0b;
    width: 160px;
    height: 2px;
    position: absolute;
    top: 0px;
    left:0;
    right:0;
    margin:0 auto;
    text-align:center;
}
section.counter-block {
    background-color: #000;
}


/* footer */

footer{
    background: url(/footer-bg.jpg) no-repeat center;
    background-size: cover;
}
.socail-link a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    font-size: 21px;
    padding: 17px;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.socail-link a:hover {
    background-color: #a20b0b;
    color: #fff !important;
}
.socail-link {
    text-align: center;
    margin-top: 25px;
}
.footer-col h4{
    color: #fff !important;
    position: relative;
    font-weight: 500 !important;
        margin-bottom: 30px;
}
.footer-col h4:before{
    content: "";
    text-align: center;
    background-color: #a20b0b;
    width: 74px;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
}

.footer-col ul {
    padding-left: 0;
   
}
.footer-col ul li a {
    line-height: 38px;
}

.footer-col ul li a{
   color: #fff;
   font-size: 15px;
   font-family: var(--font-family-Poppins);
}
.footer-col ul li a:hover {
    color: #e13939 !important;
}
.footer-col p {
    color: #fff !important;
    font-weight: 500;
}
.copyright{
    background-color: #04214f;
    text-align: center;
    padding: 16px 0px;
        margin-top: 65px;
}
.copyright p{
    color: #6f7caf !important;
    margin-bottom: 0;
}

/* inner page */

.pages-title h2 {
    color: #fff !important;
}

.pages-title {
    background-color: #243d65;
    text-align: center;
    padding: 22px 0px;
    color: #fff !important;
}

.prof {
    background-color: #a20b0b;
    padding: 10px;
}
.prof h5{
   color: #fff !important;
   margin-bottom: 0;
}
.aboutpict {
    border: 1px solid #a20b0b6b;
    padding: 4px;
    border-radius: 5px;
    /* box-shadow: 0px 0px 13px #b50a0a2e; */
}
.about-bg {
    background: url(/about-bg.png) top / cover no-repeat;
    padding: 20px;
    box-shadow: 0px 0px 12px #cccccc6b;
    border-radius: 10pxxx;
}
.contact-panel h2{
    color:#060606 !important;
    font-weight: 700 !important;
}
.contact-panel h2 span {
    font-size: 28px;
        font-weight: 400;
}

.contact-panel img {
    padding: 5px;
    border: 4px solid #1a3c807a;
}


ul.peronal-detail {
    padding-left: 0px;
}
ul.peronal-detail li {
    font-size: 18px;
    line-height: 38px;
}
ul.peronal-detail li a {
    color: #a80000;
}
.breadcrumb-item.active {
    color: rgb(255 181 21);
}
ul.breadcrumb {
    margin: 0 auto;
    /* width: 50%; */
    text-align: center;
    display: flex;
    justify-content: center;
}
.breadcrumb-item a{
    color: #fff !important;
}
.breadcrumb-item.active {
    color: rgb(255 181 21) !important;
}

.faculty h2{
    position: relative;
}
.faculty h2:before{
    content: "";
    background-color: #a20b0b;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.card-list span {
    float: right;
}
.card-body.card-list p {
    color: #09143f !important;
    font-weight: 500;
}
.card-body.card-list {
    border: 1px solid #21316c;
    border-radius: 4px;
}
.card-body.card-list:hover {
    background-color: #21316c;
    color: #fff;
}
.card-body.card-list:hover  a p {   
    color: #fff !important;
}
.info-text {
    display: flex;
    align-items: center;
}
.info-text p {
    font-size: 14px;
    line-height: 23px;
}
.info-text a {
    color: #646464;
}
.card-info:hover {
    background-color: #9F3333;
}
.card-info:hover h5, .card-info:hover p{
    color: #fff !important;
}
.card-info:hover a{
    color: #fff !important;
}

/* responsive-start */


@media only screen and (max-width:1366px) {
nav ul li {
    margin-right: 32px;
}
a.desktop-logo {
    width: 620px !important;
    display: block;
}


}

@media only screen and (max-width: 1024px) {
    .topbar {
    padding: 10px 20px;
}
 .list ul li a {
    font-size: 14px;
 }
 .list ul li {    
    margin-right: 13px;  
}

 
}


@media only screen and (max-width:767px) {
.logo {
    text-align: center;
}
.search-input {
    width: 100%;
}
.search-container:hover .search-input {
    width: 100%;   
}
.search-icon {
    padding: 12px 22px;   
}
.top-left.list {
    text-align: center;
    margin-bottom: 14px;
}
.top-right.list ul {
    padding-left: 0;
}
.top-right.list ul li a {
    padding-left: 0;
    font-size: 13px;
}
.top-left.list ul li {
    font-size: 22px;
}
.top-left.list ul li a {
    font-size: 23px;
}
    .search-input{
        opacity: 1;
    border: 1px solid #c8e1ff;
    width: 100%;
    height: 50px;
    padding: 8px 10px;
    }

    .desktop-logo{
        display: none !important;
    }
    a.mobile-logo {
    display: block;
}

nav {
    position: fixed;
    left: 0;
           width: 75%;
    z-index: 999;
    top: 0;
    height: 100vh;
}
nav ul {
    padding-left: 0px;
}
nav ul li {
           margin-right: 0;
        line-height: 50px;
        display: block;
        border-bottom: 1px solid #1c2b62;
        padding: 0 20px;    
}
.dropdown-menu.show {
    display: block;
    position: inherit !important;
    left: 0;
    transform: translate3d(-5px, 5px, 0px) !important;
}
.dropdown-menu.show {
    /* min-width: 310px; */
    display: block;
    max-width:100% !important;
    min-width: 100%;
    margin-bottom: 20px !important;
}
    ul.dropdown-menu li {
        width: 100%;
        line-height: 32px;
        border: none;
    }
nav .container {
    padding: 0 !important;
}
.main-header {
    position: relative;
}
    span.toggle-menu {
        color: #ffd;
        background-color: #a20b0b;
        border-radius: 6px;
        padding: 4px 12px;
        font-size: 28px;
        position: absolute;
        bottom: 20px;
        right: 11px;
    }
.search-container {   
   margin-right: 17% !important;
           margin-bottom: 18px;
}
.main-menu {
    display: none;
}
.about-content {
    padding-left: 0px;
    padding-top: 36px;
}
.video-block {
    padding: 0px 20px 30px 20px;
}
.btn-list ul {
    padding-left: 0;
    margin-bottom: 30px !important;
}

.course-box {   
    min-height: auto;  
    margin-bottom: 20px;
}
.helpline-number {
    margin-top: 30px;
}
section.counter-block {  
    padding: 50px 0;
}
.counter-box {  
    margin-bottom: 60px;
}
.footer-col {
    margin-bottom: 50px;
}
.profile-info {
    display: flex;
    flex-wrap: wrap;
}
.border-right {
    border-right: none;
}
.profile {   
    margin-right: 0;
    margin-bottom: 16px;
}
.main-title h2 {
    font-size: 33px !important;
}


}